[project]
name = "lstm-options-pricing"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "ruff>=0.14.2",
    "torch>=2.9.0",
]
